.home-container {
  width: 100%;
}

.banner {
  background: linear-gradient(
      rgba(57, 31, 172, 0.5),
      rgba(180, 60, 60, 0.5)
    ),
    url("https://images.unsplash.com/photo-1515165562835-c3b8b9ee2f93?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner p {
  font-size: 1.2rem;
}

.card img {
  object-fit: cover;
  height: 200px;
}
